.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  align-content: center;
  border: 1px solid;
  width: 100%;
  height: 100px;
}
.footer__logo {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer__links {
  grid-column-start: 2;
  grid-column-end: 5;
}
.footer__links ul {
  display: flex;
  justify-content: center;
}
.footer__links ul li {
  margin-right: 28px;
}
.footer__social {
  grid-column-start: 5;
  grid-column-end: 6;
}
