@color-primario: #FE6D44;
@color-claro: #fff;
@color-oscuro: #333;
@color-secundario: #FEF9F3;
@color-variacion: #F2C065;
@fuente1: "Lato", sans-serif;
@fuente2: 'Oswald', sans-serif;
@breakpoint-768: 768px;

.hover {
    color: @color-primario;
}

.hovervariacion{
    color: @color-secundario;
}

.default-hr {
    width: 7%;
    border: 3px solid;
    border-radius: 4em;
    color: @color-primario;
    margin: 22px 0 34px 0;
}

.box-shadow {
    box-shadow: 0 0px 3px 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    @media (max-width: 425px) {
        width: 100%;    
    }
}

h1 {
    font-family: @fuente1, system-ui;
}

h2 {
    font-family: @fuente1, system-ui;
    font-size: 1.9em;
    text-transform: lowercase;
}

h4 {
    font-family: @fuente1, system-ui;
    text-transform: capitalize;
}

h3 {
    font-family: @fuente1, system-ui;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-family: @fuente1, system-ui;
    font-weight: bold;
    color: @color-oscuro;
}

p {
    font-family: @fuente1, system-ui;
    font-size: 16px;
}

li{
    list-style: none;
}