.hover {
  color: #FE6D44;
}
.hovervariacion {
  color: #FEF9F3;
}
.default-hr {
  width: 7%;
  border: 3px solid;
  border-radius: 4em;
  color: #FE6D44;
  margin: 22px 0 34px 0;
}
.box-shadow {
  box-shadow: 0 0px 3px 0px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .container {
    width: 100%;
  }
}
h1 {
  font-family: "Lato", sans-serif, system-ui;
}
h2 {
  font-family: "Lato", sans-serif, system-ui;
  font-size: 1.9em;
  text-transform: lowercase;
}
h4 {
  font-family: "Lato", sans-serif, system-ui;
  text-transform: capitalize;
}
h3 {
  font-family: "Lato", sans-serif, system-ui;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  font-family: "Lato", sans-serif, system-ui;
  font-weight: bold;
  color: #333;
}
p {
  font-family: "Lato", sans-serif, system-ui;
  font-size: 16px;
}
li {
  list-style: none;
}
.menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 95px;
  align-items: center;
}
@media (max-width: 425px) {
  .menu {
    width: 100%;
    height: 30%;
    background-color: #FEF9F3;
  }
}
.menu__logo {
  color: black;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 1024px) {
  .menu__logo {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (max-width: 768px) {
  .menu__logo {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (max-width: 425px) {
  .menu__logo {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    height: auto;
  }
}
.menu__links {
  text-align: end;
  grid-column-start: 3;
  grid-column-end: 6;
  width: auto;
}
@media (max-width: 1024px) {
  .menu__links {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
@media (max-width: 768px) {
  .menu__links {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
@media (max-width: 425px) {
  .menu__links {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
  }
}
.menu ul > li a:hover {
  color: #FE6D44;
}
.menu ul > li {
  list-style: none;
  display: inline;
  margin-right: 8px;
}
@media (max-width: 425px) {
  .menu ul > li {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
    border-bottom: 1px solid #FE6D44;
    border-radius: 0 2px 0;
  }
}
.menu ul > li a {
  list-style: none;
  display: inline;
  margin-right: 8px;
}
@media (max-width: 425px) {
  .menu ul > li a {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 1em;
  }
}
.menu ul li:nth-child(6n) a {
  padding: 16px;
  border-radius: 5px;
  background-color: #FE6D44;
  color: black;
  margin-right: 0;
}
.menu ul li:nth-child(6n) a:hover {
  padding: 16px;
  border-radius: 5px;
  background-color: #FE6D44;
  color: black;
  margin-right: 0;
  color: #FEF9F3;
}
.hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 571px;
  background-color: #FEF9F3;
  border-radius: 30px 36px 100% 30px;
  margin-bottom: 86px;
}
@media (max-width: 768PX) {
  .hero {
    height: 400px;
    margin-bottom: 2em;
  }
}
@media (max-width: 425px) {
  .hero {
    border-radius: 20px;
    text-align: center;
  }
}
.hero__reviews {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 94px 0 0 82px;
  width: 392px;
  height: 359px;
}
@media (max-width: 768PX) {
  .hero__reviews {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 3em 1em;
  }
}
.hero__reviews img {
  width: 127px;
  height: 46px;
  margin: 44px 16px 0 0;
}
.hero__reviews h1 {
  font-size: 4em;
}
@media (max-width: 768PX) {
  .hero__reviews h1 {
    font-size: 2.5em;
  }
}
.hero hr {
  width: 7%;
  border: 3px solid;
  border-radius: 4em;
  color: #FE6D44;
  margin: 22px 0 34px 0;
}
@media (max-width: 425px) {
  .hero hr {
    margin: 22px 0 34px 11em;
  }
}
.hero__imagen {
  grid-column-start: 4;
  grid-column-end: 6;
}
@media (max-width: 1024px) {
  .hero__imagen {
    height: 400px;
    margin-bottom: 2em;
  }
}
@media (max-width: 768PX) {
  .hero__imagen {
    grid-column-start: 3;
    grid-column-end: 6;
    text-align: end;
  }
}
@media (max-width: 425px) {
  .hero__imagen {
    display: none;
  }
}
.hero__imagen img {
  width: 335px;
  height: 505px;
  margin-top: 4em;
}
@media (max-width: 768PX) {
  .hero__imagen img {
    margin-top: 0.5em;
  }
}
.hero--boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0px 3px 0px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: 4;
  transition: 1s;
  justify-self: center;
  margin-top: -4.5em;
}
.hero--boton::after {
  content: "|";
}
@media (max-width: 1024px) {
  .hero--boton {
    margin-top: 4em;
  }
}
@media (max-width: 1024px) {
  .hero--boton {
    margin-top: -7.5em;
  }
}
@media (max-width: 425px) {
  .hero--boton {
    display: none;
  }
}
.partner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  widows: 100%;
  height: 544px;
}
.partner__imagen {
  grid-column-start: 1;
  grid-column-end: 4;
}
@media (max-width: 768px) {
  .partner__imagen {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 425px) {
  .partner__imagen {
    display: none;
  }
}
.partner__content img {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 537px;
  height: 544px;
  position: relative;
  left: -4em;
}
@media (max-width: 768px) {
  .partner__content img {
    width: 100%;
    height: 544px;
    left: 0;
  }
}
.partner__img__testimonial {
  position: relative;
  top: -12em;
}
.partner__img__testimonial img {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 4px solid #fff;
  position: relative;
  top: 2em;
  left: 0.5em;
  z-index: 1;
}
.partner__img__testimonial p {
  width: 327px;
  height: 105px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5em 2em 0.5em;
  position: relative;
  left: 2em;
  box-shadow: 0 0px 3px 0px;
}
.partner__img__testimonial hr {
  width: 2%;
  border: 2px solid;
  border-radius: 4em;
  color: #FE6D44;
  position: relative;
  top: -1em;
  left: 15em;
}
.partner__img__testimonial span {
  color: rgba(51, 51, 51, 0.7);
  position: relative;
  top: -2em;
  left: 19em;
  font-size: 14px;
}
.sign {
  grid-column-start: 4;
  grid-column-end: 6;
}
@media (max-width: 425px) {
  .sign {
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 1em;
  }
}
.sign h3 {
  margin: 30px 0 21px 0;
  padding-right: 2em;
  text-align: center;
}
@media (max-width: 425px) {
  .sign h2 {
    text-align: center;
  }
}
.sign hr {
  width: 7%;
  border: 3px solid;
  border-radius: 4em;
  color: #FE6D44;
  margin: 22px 0 34px 0;
}
@media (max-width: 425px) {
  .sign hr {
    width: 7%;
    border: 3px solid;
    border-radius: 4em;
    color: #FE6D44;
    margin: 0 auto;
  }
}
.sign__info img {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  margin-right: 2em;
  box-shadow: 0 0px 3px 0px;
}
.sign__info h4 {
  font-size: 1.5em;
}
.sign__header {
  display: flex;
  margin-bottom: 2em;
}
.feedback {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 80px 0 80px 0;
  width: 100%;
  height: 400px;
}
@media (max-width: 425px) {
  .feedback {
    margin: 0;
  }
}
.feedback__container {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 0 0 82px;
}
@media (max-width: 425px) {
  .feedback__container {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
.feedback__container h3 {
  margin-bottom: 21px;
  padding-right: 3em;
}
@media (max-width: 425px) {
  .feedback__container h3 {
    padding: 0;
  }
}
.feedback__container hr {
  width: 7%;
  border: 3px solid;
  border-radius: 4em;
  color: #FE6D44;
  margin: 22px 0 34px 0;
}
@media (max-width: 425px) {
  .feedback__container hr {
    margin: 22px 0 34px 11em;
  }
}
.feedback__container p {
  padding-right: 4em;
  line-height: 1.5em;
}
.feedback__people {
  display: flex;
  margin: 2em 0 2em 0;
}
@media (max-width: 425px) {
  .feedback__people {
    justify-content: center;
  }
}
.feedback__people img {
  width: 37px;
  height: 37px;
  border-radius: 100px;
  margin-right: -0.5em;
  cursor: pointer;
}
.feedback__people img:hover {
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
  transition: width 1s, height 1s;
  rotate: 2 4;
}
.feedback__people span::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "+";
  margin: 0 auto;
  width: 37px;
  height: 37px;
  border-radius: 100px;
  background-color: #fff;
  color: #FE6D44;
  box-shadow: 0 0px 3px 0px;
  cursor: pointer;
}
.feedback__people span:hover {
  display: flex;
  width: 50px;
  height: 50px;
  transition: width 1s, height 1s;
}
.feedback__img {
  grid-column-start: 4;
  grid-column-end: 6;
  background-image: url("../img/Airport.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 425px) {
  .feedback__img {
    display: none;
  }
}
.getapp {
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: #FE6D44;
  text-align: center;
  padding: 58px 0 58px 0;
}
.getapp h2,
.getapp p {
  color: black;
}
.getapp img {
  width: 131px;
  height: 47px;
  border-radius: 0.2em;
  margin: 30px 18px 0 0;
}
.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100px;
}
@media (max-width: 425px) {
  .footer {
    height: auto;
  }
}
.footer__logo {
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (max-width: 425px) {
  .footer__logo {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 1em;
  }
}
.footer__links {
  grid-column-start: 2;
  grid-column-end: 5;
}
@media (max-width: 425px) {
  .footer__links {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 1em;
  }
}
.footer__links ul {
  display: flex;
  justify-content: center;
}
.footer__links ul li {
  margin-right: 28px;
}
@media (max-width: 425px) {
  .footer__links ul li {
    margin-right: 0.8em;
  }
}
.footer__links ul a:hover {
  color: #FE6D44;
}
.footer__links ul a:active {
  color: #FE6D44;
}
.footer__social {
  grid-column-start: 5;
  grid-column-end: 6;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 425px) {
  .footer__social {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 1em;
  }
}
.footer__social i {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: 0 0px 3px 0px;
  vertical-align: -69%;
  cursor: pointer;
}
.footer__social i:hover {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: 0 0px 3px 0px;
  vertical-align: -69%;
  cursor: pointer;
  color: #FE6D44;
}
.footer__social .fa-facebook-f::before {
  content: "\f09a";
  vertical-align: -69%;
}
.footer__social .fa-instagram::before {
  content: "\f16d";
  vertical-align: -69%;
}
.footer__social .fa-twitter::before {
  content: "\f099";
  vertical-align: -69%;
}
.footer__social .fa-youtube::before {
  content: "\f167";
  vertical-align: -69%;
}
