section#feedback.feedback
    .feedback__container
        h3 #{tituloscontentsub[1]}
        h2 #{tituloscontent[2]}
        hr
        p have a quick conversation anytime you need with your fellow travellers you're going to travel with.
        .feedback__people
            img(src="../img/profile1.svg" alt="feedback testimonial")
            img(src="../img/profile2.svg" alt="feedback testimonial")
            img(src="../img/profile3.svg" alt="feedback testimonial")
            img(src="../img/profile1.svg" alt="feedback testimonial")
            span
        p with one simple click you can know who you can have as your travel buddy.
    .feedback__img

