footer.footer
    .footer__logo
        h1 #{logo}
    .footer__links
        ul
            each enlace in titulosmenufooter
                li
                    a(href="#")= enlace
    .footer__social
        a(href="#" title="Facebook")          
            i(class="fa fa-facebook-f")

        a(href="#" title="Intagram")
            i(class="fa fa-instagram")
        a(href="#" title="Twitter")
            i(class="fa fa-twitter")

        a(href="#" title="Youtube") 
            i(class="fa fa-youtube")

link(rel="stylesheet" href="../css/estilos.min.css")
link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")




