section.getapp    
    h2 download the travellers community app now!
    p be the first one to explore one of the best travel application
    img(src="../img/applestore.png" alt="logo apple store")
    img(src="../img/googlestore.png" alt="logo google store")