section.hero
    div.hero__reviews        
        h1 #{tituloscontent[0]}
        hr
        p.
            Your ultimate travel companion. Carries all the infotmation you need while travelling.
        figure
            img(src="../img/applestore.png" alt="logo apple store")
            img(src="../img/googlestore.png" alt="logo google store")
    figure.hero__imagen
        img(src="../img/hero-img.svg" alt="image hero")
    a.hero--boton(href="#feedback" aria-label="navigate down")
