section.partner.container
    .partner__imagen
        figure.partner__content
            img(src="../img/partners.svg" alt="partners photo")
        article.partner__img__testimonial
            img(src="../img/perfil-testimonial.png" alt="testimonios")        
            p.
                Every day is a new day, and you'll never be able to find
                happiness ifo you don't Travel the new places around the world
            hr
            span Luke James

    .sign
        h3 get connect
        h2 share your mamories with your travel buddys
        hr

        .sign__info
            .sign__container
                article.sign__header
                    img(src="../img/union.png" alt="Sign Up")
                    .sign__info
                        h4 sign up
                        p make an account and ogin to kkep yourself updated into travellers platform.
                    
                figure.sign__header
                    img(src="../img/union.png" alt="Create Events")
                    .sign__info
                        h4 create events
                        p create an event to gather your fellow travellers and get to know them.

                figure.sign__header
                    img(src="../img/union.png" alt="Share Memories")
                    .sign__info
                        h4 share memories
                        p upload and share stories with your fellow travellers anytime.




            //- img(src="../img/union.png" alt="")
            //- h4 create events
            //- p create an event to gather your fellow travellers and get to know them.
            //- img(src="../img/union.png" alt="")
            //- h4 share memories
            //- p upload and share stories with your fellow travellers anytime.