section.people
    article.people__header
        h3 #{tituloscontentsub[0]}
        h2 #{tituloscontent[1]}
        hr
    article.people__content
        +peoplecard("profile1.svg", "Smith", "England") 
        +peoplecard("profile2.svg", "Julie", "Poland")       
        +peoplecard("profile2.svg", "Julie", "Poland")
        +peoplecard("profile3.svg", "Forza", "Georgia")
        +peoplecard("profile1.svg", "Jessica", "Egypt")
        +peoplecard("profile2.svg", "Sajon", "Finland")