section.people
    .people__header
        h3 #{tituloscontentsub[0]}
        h2 #{tituloscontent[1]}
        hr
    .people__card
        //- +peoplecard("../img/union.png", "Junior", "Colombia")
        .card__img img(src="../img/profile1.svg", alt="foto de perfil")
        .people__content
            h4 Smit
            h4 England

