section.pricing
    h1 SECTION PRICING
    h3 #{tituloscontentsub[2]}
    h2 #{tituloscontent[3]}
    +tablepricing(precingvalor[0], tituloscontentsub[3], "All the basics for businesses that are just getting started.")
    +tablepricing(precingvalor[1], tituloscontentsub[4], "All the basics for businesses that are just getting started.")
    +tablepricing(precingvalor[2], tituloscontentsub[5], "All the basics for businesses that are just getting started.")