.default-hr {
  width: 7%;
  border: 3px solid;
  border-radius: 4em;
  color: #ED8053;
  margin: 22px 0 34px 0;
}
.box-shadow {
  box-shadow: 0 0px 3px 0px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
h1 {
  font-family: "Lato";
  max-width: 500px;
  
}
h2 {
  font-family: "Lato";
  font-size: 1.9em;
}
h4 {
  font-family: "Lato";
  text-transform: capitalize;
}
h3 {
  font-family: "Lato";
  text-transform: uppercase;
}
a {
  text-decoration: none;
  font-family: "Lato";
  font-weight: bold;
  color: #333;
}
p {
  font-family: "Lato";
  font-size: 16px;
}
